.order-card {
  .order-header {
    text-align: left;
    font-size: 1.5rem;
    line-height: 64px;
  }
  .order-item-card {
    display: flex;
    border-bottom: 1px solid #333;
    column-gap: 20px;
    .item-image {
      img {
        width: 200px;
        height: 230px;
        object-fit: cover;
        object-position: top center;
      }
    }
    .item-main {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      width: 100%;
      .item-product,
      .item-bottom,
      .item-middle {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      .item-attributes-holder {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
      }
      .item-middle {
        justify-content: flex-start;
        gap: 10px;
      }
      .item-product {
        text-align: left;
      }

      .item-bottom {
        .item-quantity {
          .item-quantity-wrapper {
            display: flex;
            height: 1.75rem;
            align-items: center;
            justify-content: center;
            border: 1px solid #d7d7d7;

            .item-quantity-button {
              border-width: 0;
              border-style: none;
              width: 1.75rem !important;
              padding: 0 !important;
              line-height: 1 !important;
              background-color: rgba(255, 255, 255, 1) !important;
              color: rgba(0, 0, 0, 1) !important;
            }

            .item-decrease-button {
              border-style: solid;
              border-color: rgba(215, 215, 215, 1);
              border-inline-end-width: 1px;
            }

            .item-quantity-input {
              width: 2rem;
              background-color: rgba(255, 255, 255, 1);
              font-size: 0.75rem;
              line-height: 1rem;
            }

            .item-increase-button {
              border-style: solid;
              border-color: rgba(215, 215, 215, 1);
              border-inline-start-width: 1px;
            }

            &:hover {
              cursor: pointer;
            }
          }
        }

        .item-price {
          margin-left: 0.5rem;
          display: flex;
          width: 100%;
          align-items: flex-end;
          justify-content: flex-end;
          white-space: nowrap;

          .actual-price {
            margin-right: 5px;
            font-size: 1.25rem;
            line-height: 30px;
            color: rgb(55, 90, 90);
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 900px) {
  // .item-imagee {
  //   max-width: 220px;
  // }

  // .item-content-main {
  //   // padding-left: 1.5rem;
  //   width: 100% !important;
  // }
  .order-card {
    .order-item-card {
      flex-direction: column;
      row-gap: 20px;
      .item-main {
        gap: 20px;
        padding-bottom: 10px;
      }
    }
  }
}
