.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  header {
    display: flex;
    justify-content: center;
    padding: 25px 0px 10px;
    margin-bottom: 30px;
    width: 100%;
    border-bottom: 1px solid #d1d1d1;
    .logo {
      padding: 0px 0px 12px;
      font-size: 40px;
      color: var(--primary-color);
    }
  }
  .auth-container {
    width: 450px;
    .login-with {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px;
      font-size: 13px;
    }
    .or-divide {
      margin-top: 10px;
      display: flex;
      flex-direction: row;
      width: 100%;
      align-items: center;
      justify-content: center;
    }
    .login {
      display: flex;
      flex-direction: column;
      row-gap: 15px;
      font-size: 14px;
      .login-info {
        display: flex;
        flex-direction: column;
        row-gap: 15px;
        input {
          width: 450px;
          height: 50px;
          padding: 10px;
        }
      }
      .forgot-password {
        a {
          color: #000000;
        }
      }
      .remember-me {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .remember-me-checkbox {
          font-size: 13px;
          display: flex;
          align-items: center;
          column-gap: 10px;
        }
        .login-btn {
          font-family: Helvetica, Arial, sans-serif;
          text-transform: uppercase;
          font-size: 14px;
          letter-spacing: 2px;
          line-height: 20px;
          width: 125px;
          height: 50px;
          border-radius: 500px;
          font-weight: 700;
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 5px;
          cursor: pointer;
          &:hover {
            transform: scale(1.04);
          }
        }
      }

      .sign-up {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 30px;
        padding-bottom: 10px;
        p {
          font-size: 18px;
        }
      }
    }
  }
}
