$light-color: #f4f4f4;
$dark-color: #333;
$danger-color: brown;

.app-header {
  .main-header {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 30px 25px;
    border-bottom: 1px solid #d1d1d1;

    .logo {
      display: flex;
      align-items: center;
      h1 {
        cursor: pointer;
        color: #37595a;
        font-size: 50px;
        font-family: "Sacramento", cursive;
      }

      i {
        font-size: 50px;
        color: #bcc9c5;
        padding-right: 20px;
      }
    }

    .search {
      .search-icon {
        position: relative;
        top: 4px;
        right: -25px;
        z-index: 3;
        color: $dark-color;
        font-size: 20px;
        cursor: pointer;
      }

      input {
        height: 2.5rem;
        background: #f0eeed;
        border: none;
        border-radius: 7px;
        padding: 2px 30px;
        width: 500px;
        text-indent: 20px;
        font-size: 18px;

        &:focus {
          border-color: transparent;
        }
      }
    }

    .options ul {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      list-style: none;
      gap: 0 25px;

      li {
        position: relative;

        margin-left: 5%;
        padding-right: 1%;

        .icon {
          font-size: 20px;
          color: $dark-color;
          cursor: pointer;
        }
      }

      & > li:hover .user-container {
        display: block;
      }

      & > li:hover .cart-container {
        display: block;
      }
      & > li:hover .admin-container {
        display: block;
      }
    }
  }

  .category-header {
    border-bottom: 1px solid #d1d1d1;

    nav ul.category-links {
      display: flex;
      justify-content: space-around;
      align-items: center;
      list-style: none;
      gap: 10px;

      li {
        position: relative;

        a {
          text-decoration: none;
          color: $dark-color;
          font-size: 15px;
          font-weight: 600;
          padding: 1rem 0;
          display: block;
        }
      }

      & > li:hover .dropdown-menu {
        display: block;
      }

      & > li:hover > a {
        transform: scale(1.2);
      }
    }
  }
}
