$light-color: #f4f4f4;
$dark-color: #333;
$danger-color: brown;

.mobile-search {
  position: relative;
  margin: 15px 0;
  .search {
    .search-icon {
      position: absolute;
      top: 10px;
      left: 30px;
      z-index: 3;
      color: $dark-color;
      font-size: 20px;
      cursor: pointer;
    }

    input {
      height: 2.5rem;
      background: #f0eeed;
      border: none;
      border-radius: 7px;
      padding: 2px 30px;
      width: 95%;
      text-indent: 20px;
      font-size: 18px;

      &:focus {
        border-color: transparent;
      }
    }
    ul {
      background: #fff;
      border-bottom-right-radius: 5px;
      border-bottom-left-radius: 5px;
      height: 0;
      overflow: hidden;
      box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.2);
      transition: 0.4s height;
      li {
        font-size: 13px;
        padding: 10px 10px;
        list-style: none;
        border-top: 1px solid #ddd;
      }
    }
  }
}
