$light-color: #f4f4f4;
$dark-color: #333;
$danger-color: brown;

.mobile-search {
  position: relative;
  margin: 15px 0;
  .search {
    .search-icon {
      position: absolute;
      top: 10px;
      left: 30px;
      z-index: 3;
      color: $dark-color;
      font-size: 20px;
      cursor: pointer;
    }

    input {
      height: 2.5rem;
      background: #f0eeed;
      border: none;
      border-radius: 7px;
      padding: 2px 30px;
      width: 95%;
      text-indent: 20px;
      font-size: 18px;

      &:focus {
        border-color: transparent;
      }
    }
  }
}
