.small-card {
  width: auto;
  position: relative;
  display: flex;
  justify-content: flex-start;

  .product-img {
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      width: 260px;
      height: 250px;
      object-fit: cover;
      object-position: left top;
    }
  }
}
