.carousel {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  position: relative;
  .carousel-img {
    width: 220px;
    height: 350px;
    object-fit: cover;
    object-position: left top;
  }
}
