.carousel {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  position: relative;
  .carousel-img {
    width: 220px;
    height: 350px;
    object-fit: cover;
    object-position: left top;
    counter-increment: carousel-img;
    &::before {
      display: block;
      text-align: center;
      content: counter(carousel-img);
      line-height: 200px;
      font-size: 80px;
      color: white;
    }
  }
}
