.hero {
  height: 70%;
  color: rgb(55, 90, 90);
  // position: relative;
  z-index: 10;
  // width: 50%;

  h3.msg {
    font-family: "Sacramento", cursive;
    font-size: 30px;
    padding-top: 30px;
    letter-spacing: 4px;
  }

  .about-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
    padding: 0 20px;
    display: flex;
    justify-content: center;

    h1 {
      font-family: "Sacramento", cursive;
      font-size: 55px;
      font-weight: 500px;
      // position: absolute;
      // color: rgba(#bcc9c5, 0.9);
      // top: 40px;
      // right: 110px;
    }

    img {
      padding-top: 3%;
      height: 60%;
      width: 90%;
      font-family: "Sacramento", cursive;
    }
  }

  .instructions {
    font-size: 0.75rem;
    border-radius: 0.5rem;
    background: #000;
    color: #fff;
    padding: 0.25rem;
    position: relative;
    bottom: -10px;

    &>svg {
      margin-right: 0.25rem;
    }
  }

  .offscreen {
    position: absolute;
    left: -9999px;
  }

  .hide {
    display: none;
  }

  .valid {
    color: limegreen;
    margin-left: 0.25rem;
  }

  .invalid {
    color: red;
    margin-left: 0.25rem;
  }

  .errmsg {
    background-color: lightpink;
    color: firebrick;
    font-weight: bold;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
  }

  .flexGrow {
    flex-grow: 1;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
  }

  input,
  select,
  .about-btn{
    width: 30%;
    height: 3.2rem;
    padding: 5px;
    padding-top: 0px;
    border: #37595a, 1px, solid;
    margin: 20px;
  }

  .about-btn {
    color: #37595a;
    font-size: 15px;
    letter-spacing: 2px;
    font-weight: bold;
  }

  .msg-box{
    margin: 20px;
    textarea {
      width: 30%;
    }
    #message:placeholder-shown{
      padding: 5px;
      padding-top: 10px;
    }
  }
}

// .hero::before {
//   content: "";
//   position: absolute;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
//   background-color: rgba(55, 90, 90, 0.1);
// }
// .about-info::before {
//   content: "";
//   position: absolute;
//   top: 49.5%;
//   left: 20%;
//   width: 60%;
//   height: 50%;
//   background-color: rgba(55, 90, 90, 0.1);
// }