.checkout-container {
  padding: 7% 10px 50px;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  min-height: 100vh;

  .checkout-container-middle {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    width: 45%;
  }
}
@media only screen and (max-width: 900px) {
  .checkout-container {
    align-items: center;
    flex-direction: column;
    gap: 40px;
    .checkout-container-middle {
      width: 100%;
    }
  }
}
