.checkout-address {
  width: 100%;

  .checkout-address-box {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
    padding: 1.5rem;
    border: 1px solid #d1d1d1;

    .address {
      display: flex;
      flex-direction: column;
      width: 90%;
      align-items: flex-start;
      gap: 10px;

      .address-name {
        display: flex;
        gap: 10px;
        text-transform: uppercase;

        input {
          height: 1rem;
          width: 1rem;

          &:checked {
            &:after {
              width: 1.1rem;
              height: 1.1rem;
              border-radius: 15px;
              top: -2px;
              left: -1px;
              position: relative;
              background-color: rgb(55, 90, 90);
              content: "";
              display: inline-block;
              visibility: visible;
              border: 2px solid white;
            }
          }

          &:after {
            width: 1.1rem;
            height: 1.1rem;
            border-radius: 15px;
            top: -2px;
            left: -1px;
            position: relative;
            background-color: #d1d3d1;
            content: "";
            display: inline-block;
            visibility: visible;
            border: 2px solid white;
          }
        }
      }

      .address-content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        row-gap: 10px;
        padding-left: 25px;
        text-align: left;
      }
    }

    .edit {
      a {
        text-transform: uppercase;
        font-size: 0.7rem;
        font-weight: 600;
        color: var(--gray-color);
        text-decoration: underline;
      }
    }

    .divider {
      margin: 0 5px;
      font-weight: 600;
      color: var(--gray-color)
    }

    .delete {
      span {
        text-transform: uppercase;
        font-size: 0.7rem;
        font-weight: 600;
        color: var(--gray-color);
        text-decoration: underline;
        cursor: pointer;
      }
    }
  }
}

.register-addresses {
  width: 100%;
  display: flex;
  flex-direction: column;

  .address-form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    /*  input {
            width: 450px;
            height: 50px;
            padding: 10px;
        } */

    .person {
      width: 660px;
      display: flex;
      justify-content: space-between;

      input {
        width: 320px;
      }
    }

    input,
    select,
    textarea {
      width: 660px;
      padding: 18px 20px 14px;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
      margin-top: 6px;
      margin-bottom: 16px;
      resize: vertical;
    }

    textarea {
      height: 114px;
    }
  }
}

.addresses-head {
  margin-bottom: 1rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  header {
    font-family: sans-serif;
    font-size: 1.5rem;
    line-height: 2rem;
    --tw-text-opacity: 1;
    color: rgba(0, 0, 0, var(--tw-text-opacity));
  }

  .add-new-address {
    font-weight: 100;
    font-size: 0.9rem;
    cursor: pointer;
    display: flex;
    column-gap: 5px;
  }
}