.search-and-filter-list {
  display: flex;
  justify-content: flex-start;
  gap: 30px;
  padding: 20px;
  .row {
    align-items: flex-start;
    justify-content: flex-start;
    .small-card .product-img img {
      width: 220px;
      height: 250px;
    }
  }
}
