.search-and-filter-list {
  display: flex;
  justify-content: flex-start;
  gap: 30px;
  padding: 20px;
  .search-row {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    .small-card .product-img img {
      width: 230px;
      height: 230px;
    }
  }
}
