$primary-color: rgb(122, 185, 49);
$secondary-color: rgb(211, 185, 69);
$light-color: #f4f4f4;
$dark-color: #333;
$danger-color: brown;


.app-header {
    h1 {
        cursor: pointer;
    }

    .category-header {


        nav ul {
            display: flex;
            justify-content: space-around;
            align-items: center;
            list-style: none;

            li {

                a {
                    text-decoration: none;
                    color: $dark-color;
                    font-size: 20px;
                    font-weight: 600;
                    padding: 1rem 0;
                }

                &:hover {
                    transform: scale(1.2);
                    // underline eklenecek ...!
                   /*  border-bottom: 2px solid $light-color ;
                    border-radius: 5px; */
                }
            }
        }
    }
}