.shopping-cart {
  padding: 50px 10px;
  .shopping-cart-message {
    text-align: center;
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: #e95151;
  }

  .shopping-cart-content {
    // margin-left: auto;
    // margin-right: auto;
    // margin-bottom: 1rem;
    display: flex;
    justify-content: space-evenly;
    // width: 100%;
    // max-width: 1220px;
    min-height: 70vh;
    gap: 30px;
  }
}

.cart-empty {
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10%;
  .empty-message {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    .danger {
      color: red;
    }
  }
}

@media only screen and (max-width: 900px) {
  .shopping-cart {
    display: flex;
    flex-direction: column;
    .shopping-cart-content {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      min-height: 70vh;
      gap: 30px;
      align-items: center;
    }
  }
}
