.shopping-cart {
  margin-top: 50px;

  .shopping-cart-message {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    text-align: center;
    font-size: 0.875rem;
    line-height: 1.25rem;
    --tw-text-opacity: 1;
    color: rgba(233, 81, 81, var(--tw-text-opacity));
  }

  .shopping-cart-content {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1220px;
  }
}

@media (min-width: 768px) {
  .shopping-cart-content {
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
    padding-left: 2.25rem;
    padding-right: 2.25rem;
  }
}
