.card {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  border-radius: 5px;
  .product-img {
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      width: 300px;
      object-fit: cover;
    }
  }
  .product-info {
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 8px;
    .colors {
      display: flex;
      gap: 5px; 
      .yellow {
        width: 10px;
        height: 10px;
        border-radius: 50px;
        background-color: #ffe15d;
      }
      .red {
        width: 10px;
        height: 10px;
        border-radius: 50px;
        background-color: #dc0000;
      }
      .blue {
        width: 10px;
        height: 10px;
        border-radius: 50px;
        background-color: #009eff;
      }
      .green {
        width: 10px;
        height: 10px;
        border-radius: 50px;
        background-color: #42855b;
      }
    }
  }
}
