.all-product-list {
  display: flex;
  padding: 20px;
  justify-content: center;
  gap: 4%;
  .row {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;

    gap: 15px;
    width: 100%;
  }
}

img {
  width: 80px;
}
