.add-product {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 15px;
  font-size: 14px;
  margin: 20px 0;
  width: 100%;
  .product {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    width: 40%;
    input,
    select {
      height: 50px;
      padding: 10px;
    }
    @media (max-width: 900px) {
      width: 80%;
    }
  }
}
