.add-product {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 15px;
  font-size: 14px;
  padding: 25px 10px;
  margin: 20px 0;
  .product {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    input {
      width: 450px;
      height: 50px;
      padding: 10px;
    }
  }
}
