.add-product {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 15px;
  font-size: 14px;
  margin: 20px 0;
  width: 100%;
  .product {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    width: 40%;
    input[type="text"],
    input[type="number"],
    select {
      height: 50px;
      padding: 10px;
    }
    @media (max-width: 900px) {
      width: 80%;
    }

    .multi-choices {
      display: flex;
      gap: 5px;
      .choice {
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 5px;
        margin: 0 15px;
        input[type="checkbox"]:after {
          width: 20px;
          height: 20px;
          border-radius: 15px;
          top: -6px;
          left: -8px;
          position: relative;
          background-color: #eef1ee;
          content: "";
          display: inline-block;
          visibility: visible;
          border: 2px solid white;
        }

        input[type="checkbox"]:checked:after {
          width: 20px;
          height: 20px;
          border-radius: 15px;
          top: -6px;
          left: -6px;
          position: relative;
          background-color: #bcc9c5;
          content: "";
          color: white;
          display: inline-block;
          visibility: visible;
          border: 2px solid white;
        }
      }
    }
  }
}
