.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  header {
    display: flex;
    justify-content: center;
    padding: 25px 0px 10px;
    margin-bottom: 30px;
    width: 100%;
    border-bottom: 1px solid #d1d1d1;

    .logo {
      padding: 0px 0px 12px;
      font-size: 40px;
      color: var(--primary-color);
    }
  }

  .auth-container {
    width: 450px;

    p {
      display: flex;
      text-align: center;
      flex-direction: column;
      margin: 15px;
    }

    .signup-with {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px;
      font-size: 13px;
    }

    .or-divide {
      margin-top: 10px;
      display: flex;
      flex-direction: row;
      width: 100%;
      align-items: center;
      justify-content: center;
    }

    .signup {
      display: flex;
      flex-direction: column;
      row-gap: 15px;
      font-size: 14px;

      a {
        color: rgb(55, 90, 90);
        text-decoration: underline;
        font-weight: 500;
      }

      #birth-day {
        width: 170px;
        font-size: 14px;
        color: rgb(55, 90, 90);
        text-align: center;
      }

      .instructions {
        font-size: 0.75rem;
        border-radius: 0.5rem;
        background: #000;
        color: #fff;
        padding: 0.25rem;
        position: relative;
        bottom: -10px;

        &>svg {
          margin-right: 0.25rem;
        }
      }

      

      .offscreen {
        position: absolute;
        left: -9999px;
      }

      .hide {
        display: none;
      }

      .valid {
        color: limegreen;
        margin-left: 0.25rem;
      }

      .invalid {
        color: red;
        margin-left: 0.25rem;
      }

      .errmsg {
        background-color: lightpink;
        color: firebrick;
        font-weight: bold;
        padding: 0.5rem;
        margin-bottom: 0.5rem;
      }

      .flexGrow {
        flex-grow: 1;
        display: flex;
        justify-content: flex-start;
        align-items: flex-end;
      }

      .signup-info {
        display: flex;
        flex-direction: column;
        row-gap: 15px;

        input {
          width: 450px;
          height: 50px;
          padding: 10px;
        }
      }

      .gender {
        width: 500px;
        height: 25px;
        display: flex;
        gap: 20px;
      }

      .appears {
        display: flex;

        p {
          color: #000000;
          margin-top: -10px;
          margin-left: 1px;
        }
      }

      .sign-up {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .sign-up-checkbox {
          font-size: 13px;
          display: flex;
          align-items: center;
          column-gap: 10px;
        }

        .signup-btn {
          font-family: Helvetica, Arial, sans-serif;
          text-transform: uppercase;
          font-size: 14px;
          letter-spacing: 2px;
          line-height: 20px;
          width: 125px;
          height: 50px;
          border-radius: 500px;
          font-weight: 700;
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 5px;
          cursor: pointer;

          &:hover {
            transform: scale(1.04);
          }
        }
      }

      .sign-up {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 30px;

        // padding-bottom: 10px;
        p {
          font-size: 18px;
        }
      }

      .signup-footname h5 {
        text-align: center;
        margin: 10px 0px 0px 0px;
        font-size: 10px;
        font-weight: 500;

        a {
          color: rgb(55, 90, 90);
          text-decoration: underline;
        }
      }
    }
  }
}