.big-card {
  width: auto;
  position: relative;
  display: flex;
  justify-content: center;
  .product-img {
    display: flex;
    justify-content: center;
    align-items: center;

    video,
    img {
      width: 350px;
      height: 510px;
      object-fit: cover;
      object-position: left top;
    }
    @media (max-width: 900px) {
      img {
        width: 300px;
        height: 350px;
        object-fit: cover;
        object-position: left top;
      }
    }
  }
}
