.list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px 30px;
  width: 100%;
  //border-bottom: 1px solid gray;
  .product-row {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    padding: 0 0 10px;
    gap: 15px;
    width: 100%;
    @media only screen and (min-width: 768px) {
      .products .product {
        width: 25%; /* 4 ürün göstermek için genişlik %25 olarak ayarlanır */
      }
    }

    @media only screen and (max-width: 767px) {
      .products .product {
        width: 33.3333%; /* 3 ürün göstermek için genişlik %33.3333 olarak ayarlanır */
      }
    }

    .row-header {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .arrow-icon {
        display: flex;
        .icon {
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: rgb(242, 243, 245);
          height: 2.5rem;
          width: 2.5rem;
          border-radius: 50px;
          &:hover {
            background-color: rgb(186, 186, 186);
          }
        }
      }
      a {
        color: black;
        height: 20px;
        border-bottom: 1px solid var(--primary-color);

        &:hover {
          color: var(--primary-color);
          transform: scale(1.05);
          border-bottom: 1px solid black;
        }
      }
    }
  }
}

@media only screen and (max-width: 1474px) {
  // .row .small-card {
  //   width: 33.3333%; /* 3 ürün göstermek için genişlik %33.3333 olarak ayarlanır */
  // }
  .row .small-card:nth-last-child(-n + 2) {
    display: none; /* Son 2 kutu gizlenir */
  }
}
@media only screen and (max-width: 1209px) {
  // .row .small-card {
  //   width: 33.3333%; /* 3 ürün göstermek için genişlik %33.3333 olarak ayarlanır */
  // }
  .row .small-card:nth-last-child(-n + 4) {
    display: none; /* Son 2 kutu gizlenir */
  }
}

@media only screen and (max-width: 944px) {
  // .row .small-card {
  //   width: 33.3333%; /* 3 ürün göstermek için genişlik %33.3333 olarak ayarlanır */
  // }
  .row .small-card:nth-last-child(-n + 6) {
    display: none; /* Son 2 kutu gizlenir */
  }
}
