.list {
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  gap: 20px;

  .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  .column {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: start;
    gap: 20px;
    .column-2 {
      gap: 20px;
      display: grid;
    }
  }
}
