.sidebar {
  display: flex;
  flex-direction: column;
  width: max-content;
  height: 70vh;
  min-width: 250px;
  overflow-y: scroll;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  select {
    padding: 8px 20px;
    border-radius: 2px;
    width: 200px;
    height: 35px;
  }
  .colors {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    width: 150px;
    .color {
      display: flex;
      flex-wrap: wrap;
    }
  }
  .multi-choices {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    width: 150px;
    .choice {
      display: flex;
      /* justify-content: center; */
      /* align-items: center; */
      column-gap: 5px;
      padding: 0 6px;

      input[type="checkbox"]:after {
        width: 20px;
        height: 20px;
        border-radius: 15px;
        top: -6px;
        left: -8px;
        position: relative;
        background-color: #eef1ee;
        content: "";
        display: inline-block;
        visibility: visible;
        border: 2px solid white;
      }

      input[type="checkbox"]:checked:after {
        width: 20px;
        height: 20px;
        border-radius: 15px;
        top: -6px;
        left: -6px;
        position: relative;
        background-color: #bcc9c5;
        content: "";
        color: white;
        display: inline-block;
        visibility: visible;
        border: 2px solid white;
      }
    }
  }
}
