.order-tracking {
  height: 90vh;
  display: flex;
  flex-direction: column;
  .order-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    //   gap:10px;
    padding: 50px 70px;
    color: #4a4a4a;

    .order-img img {
      width: 70px;
      height: 70px;
      border-radius: 50%;
    }
    .order-info-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding-left: 30px;

      .order-summary {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 100px;

        .order-no,
        .order-time {
          white-space: nowrap;
        }
        .order-info,
        .order-complated,
        .order-total {
          text-decoration: none;

          :hover {
            text-decoration: underline;
            text-decoration-color: rgba($color: #4a4a4a, $alpha: 0.3);
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .order-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
}

.orderItem{
  &__imgGroup img{
    width: 70px;
    border-radius: 50%;
    height: 70px;
    object-fit: contain;
    background-color: #4a4a4a;

  }
}