.cart-container {
  display: none;
  position: fixed;
  width: 400px;
  right: 20px;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 101232112313;

  .product-card {
    margin: 30px 25px 0;
    display: flex;

    .product-card-img {
      width: 80px;
      height: 80px;
      img {
        width: 100%;
      }
    }

    .product-card-content {
      margin-left: 20px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      font-size: 14px;
      gap: 10px;

      .product-card-campaign {
        text-align: left;
        color: red;

        .icon-ticket {
          color: #333;
          display: inline;
          margin-right: 5px;
        }
      }

      span {
        display: block;
        text-align: left;
      }
    }
  }

  .cart-summary {
    margin: 10px 25px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .or-divide {
    margin: 10px 0;
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: center;
  }

  .view-bag {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 13px;
  }
}
